{
	"extends": "eslint:recommended",
	"rules": {
		"comma-dangle": 0,
		"no-console": 0
	},
	"parser": "babel-eslint",
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 8
	},
	"env" : {
		"jquery" : true,
		"browser": true,
		"es6": true,
		"serviceworker": true,
		"node": true
	}
}
