# Windows image file caches
# Folder config file
# Recycle Bin used on file shares
# Windows Installer files
# Windows shortcuts
# =========================
# Operating System Files
# =========================

# OSX
# =========================

# Thumbnails
# Files that might appear in the root of a volume
# Directories potentially created on remote AFP share
/.idea/
/node_modules/
/.scannerwork/
.htaccess
/.cache-loader/
/.nyc_output/
dist/
