<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Graph Algorithm Playground</title>
        <meta name="description" content="Interactive Graph Creator to run Graph Algorithms including: graph coloring (Welsh-Powell), Dijkstra shortest path, Bellman-Ford, Max-flow min-cut (Ford-Fulkerson), and more.">
        <meta name="keywords" content="graph,network,free,online,graph creator,graph algorithms,network algorithms,graph coloring,shortest path">
        <meta name="theme-color" content="#E6986A">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="manifest.json">

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png"/>
        <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196"/>
        <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32"/>
        <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16"/>
        <meta name="application-name" content="Graph Algorithm Playground"/>
        <meta name="msapplication-TileColor" content="#E6986A"/>
        <meta name="msapplication-TileImage" content="mstile-144x144.png"/>

        <style>
            @font-face {
                font-family: 'fa';
                src: url('fonts/fa.eot?jte2ks');
                src: url('fonts/fa.eot?jte2ks#iefix') format('embedded-opentype'), url('fonts/fa.ttf?jte2ks') format('truetype'), url('fonts/fa.woff?jte2ks') format('woff'), url('fonts/fa.svg?jte2ks#icomoon') format('svg');
                font-weight: normal;
                font-style: normal;
            }

            [class^="icon-"],
            [class*=" icon-"] {
                /* use !important to prevent issues with browser extensions that change fonts */
                font-family: 'fa' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;

                /* Better Font Rendering =========== */
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            .icon-redo:before {
                content: "\f01e";
            }
            .icon-undo:before {
                content: "\f0e2";
            }
        </style>

        <!-- Tracking Codes -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4436865-12"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-4436865-12');
        </script>

        <script>
            (function () {
                var t,
                    i,
                    e,
                    n = window,
                    o = document,
                    a = arguments,
                    s = "script",
                    r = [
                        "config",
                        "track",
                        "identify",
                        "visit",
                        "push",
                        "call",
                        "trackForm",
                        "trackClick"
                    ],
                    c = function () {
                        var t,
                            i = this;
                        for (i._e =[], t = 0; r.length > t; t++) {
                            (function (t) {
                                i[t] = function () {
                                    return i._e.push([t].concat(Array.prototype.slice.call(arguments, 0))),
                                    i;
                                };
                            })(r[t]);
                        }
                    };
                for (n._w = n._w || {}, t = 0; a.length > t; t++) {
                    n._w[a[t]] = n[a[t]] = n[a[t]] || new c;
                }
                i = o.createElement(s),
                i.async = 1,
                i.src = "https://static.woopra.com/js/w.js",
                e = o.getElementsByTagName(s)[0],
                e.parentNode.insertBefore(i, e);
            })("woopra");

            woopra.config({domain: 'mikedombo.github.io'});
            woopra.track();
        </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a id="undo-link" class="nav-link" href="#">
                            <span class="icon-undo" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="redo-link" class="nav-link" href="#">
                            <span class="icon-redo" aria-hidden="true"></span>
                        </a>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="fileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            File
                        </a>
                        <div class="dropdown-menu" aria-labelledby="fileDropdown">
                            <a id="import-file-link" class="dropdown-item" href="#">Import File</a>
                            <a id="import-text-link" class="dropdown-item" href="#">Import Text</a>
                            <a id="export-file-link" class="dropdown-item" href="#">Export To File</a>
                            <a id="export-text-link" class="dropdown-item" href="#">Export To Text</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a id="calculate-all-properties-link" class="nav-link" href="#">Calculate All Properties</a>
                    </li>
                    <li class="nav-item active">
                        <a id="new-graph-layout-link" class="nav-link" href="#">New Graph Layout</a>
                    </li>
                    <li class="nav-item active">
                        <a id="graph-options-link" class="nav-link" href="#">Graph Options</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-sm-2">
                    <li class="nav-item active">
                        <a id="print-help-link" class="nav-link" href="#">Help</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2">
                    <div class="row col">
                        <div class="card-body">
                            <h4 id="example-graphs-label">Example Graphs</h4>
                            <nav class="nav flex-lg-column flex-row">
                                <a id="load-petersen-link" class="nav-link" href="#">
                                    Load Petersen Graph
                                </a>
                                <a id="load-konigsberg-link" class="nav-link" href="#">
                                    Load Königsberg Bridges Graph
                                </a>
                                <a id="load-complete-link" class="nav-link" href="#">
                                    Load Complete Graph
                                </a>
                                <a id="load-hypercube-link" class="nav-link" href="#">
                                    Load Hypercube Graph
                                </a>
                                <a id="load-custom-link" class="nav-link" href="#">
                                    Make Custom Graph
                                </a>
                            </nav>
                        </div>
                    </div>
                    <hr class="d-none d-lg-block"/>
                    <div class="row col">
                        <div class="card-body">
                            <h4 id="algorithms-label">Algorithms</h4>
                            <nav class="nav flex-lg-column flex-row" id="algorithms-pane"></nav>
                        </div>
                    </div>
                    <hr class="d-none d-lg-block"/>
                    <div class="row col">
                        <div class="card-body">
                            <h4 id="graph-properties-label">Graph Properties</h4>
                            <nav class="nav flex-column" id="graphProps"></nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col">
                            <div class="card" style="margin-bottom:1rem; margin-top:1rem;">
                                <div class="card-body" style="padding:0">
                                    <div id="network" style="height: 80vh;" tabindex="0"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title" id="results-label">Results</h4>
                                </div>
                                <div class="card-body">
                                    <div id="printout" style="white-space:pre-wrap;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="task-spinner" class="progress" style="display:none; width:100vw; bottom:0; height:8px;
                                                                        			position:fixed; border-radius:0; overflow-x:hidden">
                    <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" style="width:100%;"></div>
                </div>
            </div>
        </div>

        <script src="<%= htmlWebpackPlugin.files.chunks.vendors.entry %>" defer></script>
        <script src="<%= htmlWebpackPlugin.files.chunks.bundle.entry %>" defer></script>

        <script type="text/javascript" defer>
            // Register service worker
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', function () {
                    navigator.serviceWorker.register("<%= htmlWebpackPlugin.files.chunks.pwaPacked.entry %>").then(function (registration) {
                        console.log('ServiceWorker registration successful with scope: ', registration.scope);
                    }).catch(function (err) {
                        console.log('ServiceWorker registration failed: ', err);
                    });
                });
            }
        </script>

        <link rel="stylesheet" type="text/css" href="https://unpkg.com/vis-network@9.1.2/styles/vis-network.min.css" integrity="sha384-dyJxWiQJAf9QvdWzvgaFgxG2+qGBlxRcGINxMWNJBYZ7731QjuquKfhX2OUkb22J" crossorigin="anonymous"/>


        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </body>
</html>
